// Fonts
@font-face
  font-family 'Roboto'
	src url('css/fonts/Roboto-Medium.eot')
	src url('ccs/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('css/fonts/Roboto-Medium.woff') format('woff'),
		url('css/fonts/Roboto-Medium.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
  font-family 'Roboto'
	src url('css/fonts/Roboto-Regular.eot')
	src url('css/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('css/fonts/Roboto-Regular.woff') format('woff'),
		url('css/fonts/Roboto-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

// Variables
PRIMARY_COLOR = #38587D
SECONDARY_COLOR = #4990E2
PRIMARY_RGBA_30 = rgba(56, 88, 125, 0.3)

FONT_FAMILY = 'Roboto', sans-serif

html
  font-size 62.5%
body
  margin 0
  padding 0
  font-family FONT_FAMILY
  font-weight normal
  font-size 1.8rem
  -webkit-font-smoothing antialiased
  text-rendering geometricPrecision
  overflow hidden
  background PRIMARY_COLOR
  color white
*,
*:before,
*:after
  box-sizing border-box
  -webkit-tap-highlight-color rgba(0,0,0,0)

.clearall
  clear both

.content-wrapper
  padding 0 40px

.content-center
  text-align center

.margin-30
  margin-top 30px
  margin-bottom 30px

.demoby
  font-size 1.4rem
  opacity 0.6
  margin-top 60px

// Navigation
#nav-mask
  position fixed
  top 40px
  left 40px
  background-color white
  width 40px
  height 40px
  -webkit-border-radius 50%
  border-radius 50%
  box-shadow 0 20px 20px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2)
  z-index 9998

#button-nav
  position fixed
  top 40px
  left 40px
  width 40px
  height 40px
  z-index 9999
  &:before
    content ''
    position absolute
    top 18px
    left 10px
    height 4px
    width 20px
    background-color PRIMARY_COLOR
    border-radius 2px
    transform rotate(90deg)
  &:after
    content ''
    position absolute
    top 18px
    left 10px
    height 4px
    width 20px
    background-color PRIMARY_COLOR
    border-radius 2px

#navigation
  ul
    list-style none
    padding 0
    margin 0
    position fixed
    top 100px
    left -200px
    z-index 9999
    li
      color PRIMARY_COLOR
      padding 20px 0
      display block
      vertical-align middle
      &.current
        color SECONDARY_COLOR
        .icon svg
          fill SECONDARY_COLOR
      .icon
        width 24px
        height 24px
        margin-right 20px
        display inline-block
        vertical-align sub
        svg
          fill PRIMARY_COLOR


// Login Logo
#logo
  margin 70px 0
  .logo-icon
    width 74px
    height 74px
    border-radius 50%
    -webkit-border-radius 50%
    background-color PRIMARY_RGBA_30
    float left
    margin-right 10px
    text-align center
    .circle
      width 20px
      height 20px
      border-radius 50%
      -webkit-border-radius 50%
      background-color white
      margin 0 auto
      display inline-block
      &:first-of-type
        display block
        margin 12px auto 2px
  .logo-text
    font-size 2rem
    line-height 2rem
    float left
    padding-top 15px

// Background Video
.video-container
  width 100vw
  height 100vh
  overflow hidden
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index -1
  video
    top 50vh
    left 50vw
    min-width 100vw
    min-height 100vh
    width auto
    height auto
    -webkit-transform translateX(-25vw) translateY(-25vh)
    transform translateX(-25vw) translateY(-25vh)
  &::after
    content ''
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background linear-gradient(to top, PRIMARY_COLOR, SECONDARY_COLOR)
    opacity 0.9

// Forms
::-webkit-input-placeholder
  color white
  opacity 0.2

#login-form
  margin-top 50px
.form-input
  display block

input, select, textarea
  display block
  border-radius 0
  -webkit-appearance none
  background-color transparent
  border none
  height 40px
  width 100%
  font-size 1.8rem
  font-family 'Roboto', sans-serif
  padding 0
  color white
  font-weight normal

textarea
  resize none
  padding-top 10px
  overflow hidden
  &#detail-notes
    color PRIMARY_COLOR
    &::-webkit-input-placeholder
      color PRIMARY_COLOR

select:invalid
  color rgba(255,255,255,0.2)

input:focus, select:focus, textarea:focus
  outline none

label
  display inline-block
  position relative
  overflow hidden
  padding 0
  width 100%
  text-align left
  font-size 1.4rem
  color white

label span
  position relative
  display block
  padding 1rem 0
  width 100%
  opacity 0.6
  transition opacity 0.3s, transform 0.3s
  transition-timing-function cubic-bezier(0.2, 1, 0.3, 1)

label::before
  content ''
  position absolute
  background-color white
  opacity 0.2
  top 0
  width 100%
  height 4px
  transform scale3d(1, 0.5, 1)
  transition transform 0.3s, background-color 0.3s

label::after
  content attr(data-content)
  position absolute
  top 0
  left 0
  padding 1rem 0
  color white
  opacity 0
  transform translate3d(0, 50%, 0)
  transition opacity 0.3s, transform 0.3s
  pointer-events none

input:focus + label::before, select:focus + label::before, textarea:focus + label::before
  background-color white
  opacity 1
  transform scale3d(1, 1, 1)

input:focus + label, select:focus + label, textarea:focus + label
  pointer-events none

input:focus + label::after, select:focus + label::after, textarea:focus + label::after
  opacity 1
  transform translate3d(0, 0, 0)

input:focus + label span, select:focus + label span, textarea:focus + label span
  opacity 0
  transform translate3d(0, -50%, 0)

button
  padding 14px 30px
  border-radius 25px
  -webkit-border-radius 25px
  height 50px
  min-width 150px
  border 0
  color PRIMARY_COLOR
  background-color white
  font-weight 500
  box-shadow 0 20px 20px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2)
  transition all 0.2s
  -webkit-transition all 0.15s
  transform translateY(0px)
  &:focus
    outline none
  &:active
    transform translateY(2px)
    box-shadow 0 10px 10px rgba(0,0,0,0.1), 0 0px 3px rgba(0,0,0,0.2)
  &[disabled]
    opacity 0.6

input#form-search, input#form-alert-reg, input#form-report-reg
  text-transform uppercase

section
  height 100vh
  width 100vw
  overflow scroll
  .header
    font-size 4rem
  .sub-header
    margin-bottom 30px
  &.primary
    padding-top 170px
    background linear-gradient(to top, PRIMARY_COLOR, SECONDARY_COLOR)
    position absolute
    top 0
    left 0
  &.login
    position absolute
    top 0
    left 0
  &.hideOverflow
    overflow hidden

#alert
  position fixed
  bottom -120px
  width 100vw
  height 80px
  z-index 10
  background-color white
  color PRIMARY_COLOR
  box-shadow 0 -20px 20px rgba(0,0,0,0.1), 0 -3px 6px rgba(0,0,0,0.2)

.alert-item
  margin 1px 0
.alert-image
  background-position center
  background-size cover
  width 80px
  height 80px
  margin-right 20px
  position absolute
  top 0
  left 0
  vertical-align middle
  transition all 0.3s ease
  -webkit-transition all 0.3s ease
  z-index 10
  &.detail
    position absolute
    top 0
    left 0
    right 0
    width 100vw
    height 200px
.alert-text
  position absolute
  top 10px
  left 100px
  width calc(100vw - 120px)
  vertical-align middle

#alert-list
  position relative
  background white
  margin-left -40px
  margin-right -40px
  box-shadow 0 -20px 20px rgba(0,0,0,0.1), 0 -3px 6px rgba(0,0,0,0.2)
  .alert-item
    position relative
    width 100vw
    height 100px
    background white
    &.active
      .alert-image
        z-index 11
  .alert-image
    height 100px
    width 100px
    background-size cover
    transition none
  .alert-text
    color PRIMARY_COLOR
    left 120px
    right 20px
    top 50%
    transform translateY(-50%)
    width auto

.alert-success
  background-color #00CC66
  padding 20px 40px
  position fixed
  bottom -100px
  left 0
  right 0
  font-size 1.4rem
  z-index 9995
  box-shadow 0 -20px 20px rgba(0,0,0,0.1), 0 -3px 6px rgba(0,0,0,0.2)

.padding
  width 100%
  height 300px
  background transparent

section[location="alert-detail"]
  height 100vh
  position absolute
  top 0
  left 0
  z-index 20
  padding 0
  background transparent
  .content-wrapper
    background white
    padding-top 30px
  input, label, label:after
    color PRIMARY_COLOR
  label:before
    background-color PRIMARY_COLOR

#map
  height 100%
  width 100%
  background url('/media/map.png') center center no-repeat
  background-size cover
